/* ----------------------------------------INICIO MARIA ISABEL---------------------------------------------- */
#body_index{
    margin: 0;
    padding: 0;
    background: url("/static/inicio.jpeg") no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

#page-container{
    /* Centrado vertical y horizontal */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    text-align: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
td{
    padding: 10px;
}
h1{
    font-weight: bold;
    font-size: 34px;
    color: rgb(128, 128, 128);
    padding: 5px;
    text-align: center;
}
.cajabuscar{
    text-align: center;
}
.cajalogin{
    text-align: center;
}
.links{
    color: darkgray;
    text-decoration: underline;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #DDDDDD;
    text-align: center;
}
.socialmedia{
    height: 100%;
}
.links_footer{
    color: gray;
    font-weight: bold;
    
}
.navegacion{
    margin-top: 0.5cm;
    padding: 0.5cm;
}
#body_misblogs{
    margin: 0;
    padding: 0;
    background: url("/static/inicio.jpeg") no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #ffffff;
}
/* ---------------------------------------- FIN MARIA ISABEL---------------------------------------------- */


/* ----------------------------------------INICIO RUTH---------------------------------------------- */
.registro-main{
    margin: 0;
    padding: 0;
    background: url("/static/plantaesquina.jpeg") no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 100vh;
}

.box{
    margin: 0 auto;
    position: relative;
    top: 10%;
    width: 55%;
    padding: 2%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1em;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

.box .box-bar{
    margin-top: 0;
    width: 70%;
    background-color: rgb(128, 128, 128);
    height: 1.5px;
    border-radius: 2px;
}
.box .box-title{
    margin-bottom: 1px;
}
.box .box-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 5%;
}

.form-group{
    width: 70%;
    margin: 2% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.form-group label{
    width: 40%; 
    text-align: left;
}
.form-group-input{
    border: 3px solid black;
    border-radius: 3px;
}

.button{
    width: 43%;
    height: 2%;
    padding: 0px 5px;
    margin: 0 auto;
    margin-top: 7%;
    background-color: 	#ffffff;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 1px #000000;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0in;
}

.form-inicio{
    margin-top: 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-weight: 100;
}

.form-inicio a{
    text-decoration: underline;
    color: rgb(128, 128, 128);
    font-weight: bold;

}



/* ---------------------------------------- FIN RUTH---------------------------------------------- */


/* ----------------------------------------INICIO ANDRES---------------------------------------------- */
.recuperacion1-main{
    margin: 0;
    padding: 0;
    background: url("/static/plantaesquina.jpeg") no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 100vh;
}
.recuperacion2-main{
    margin: 0;
    padding: 0;
    background: url("/static/pexels-photo-934062.jpeg") no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 100vh;
}
.button{
    width: 43%;
    height: 2%;
    padding: 0px 5px;
    margin: 0 auto;
    margin-top: 7%;
    background-color: 	#ffffff;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 1px #000000;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0in;
}
.rec2{
    margin: 0 auto;
    position: relative;
    top: 10%;
    width: 55%;
    padding: 2%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1em;
}
.rec2-group-input{
    width: 40%; 
    text-align: left;
}
.rec2-group-input{
    border: 3px solid black;
    border-radius: 3px;
}
.rec2-group{
    width: 70%;
    margin: 2% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.rec2 .rec2-bar{
    margin-top: 0;
    width: 70%;
    background-color: rgb(128, 128, 128);
    height: 1.5px;
    border-radius: 2px;
}
/* ---------------------------------------- FIN ANDRES---------------------------------------------- */


/* ----------------------------------------INICIO MIGUEL---------------------------------------------- */
li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

header {
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    border: 5px solid  rgb(128, 128, 128);;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 03s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 139, 0.8);
}


/* Estilos para el contenedor de detalle de blog y comentarios */

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 0px 5px;
    grid-template-areas: ". UNo Dos ." ". UNo Tres .";
}

.Uno {
    grid-area: UNo;
}

.Dos {
    grid-area: Dos;
}

.Tres {
    grid-area: Tres;
}

.titulo {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
}

.encabezado {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
}

.parrafo {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.nombre_usuario {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.fecha {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: gray;
}

.subtitulos {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
/* ---------------------------------------- FIN MIGUEL---------------------------------------------- */

/* ----------------------------------------INICIO ALEJANDRO---------------------------------------------- */
/* ---------------------------------------- FIN ALEJANDRO---------------------------------------------- */
