<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/pg6.css">
    <title>Document</title>
</head>

<body id="bg-container">

    <!-- Header para insertar en layout -->
    <header>
        <img class="logo" src="/static/logo.svg" alt="logo">
        <nav>
            <ul class="navlinks">
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <!-- Cierre header -->

    <!-- Contenido pagina 6 -->
    <div class="grid-container-busqueda">
        <div class="whitespace"></div>
        <div class="content">
            <h5 class="encabezado">Si tu correo está registrado te llegará un correo para que puedas reestablecer tus contraseña, de lo contrario por favor regístrate.</h5>
            <p><a href="/">Volver al inicio</a></p>
        </div>
    </div>
    <div class="whitespace"></div>
    </div>

</body>

</html>