<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/pg6.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>

<body id="bg-container">

    
    <header>
        <img class="logo" src="/static/logo.svg" alt="logo">
        <nav>
            <ul class="navlinks">
                <li><a href="/MisBlogs">Mis Blogs</a></li>
                <li><a href="/buscar">Buscar</a></li>
            </ul>
        </nav>
        <div style="text-align: center; width: 300px;"><button class="button"><a href="/logout">Cerrar Sesión</a></button></div>
    </header>

    <!-- Contenido pagina 6 -->
    <div class="grid-container-busqueda">
        <div class="whitespace"></div>
        <div class="content">
            <h5 class="encabezado">Escribe el título o una palabra clave para encontrar blogs que puedan interesarte</h5>
            <form action="/buscar" method="POST">
            <div class="mx-auto input-group input-group-lg">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name ="clave">
            </div>
            {% if visible == True %}
                <table>
                    <tr><td><label for="" style="color: red">{{mensaje}}</label></td></tr>
                </table>
            {% endif %}
            <button type="submit" class="m-2 btn btn-primary">Buscar blogs</button>
        </form>
        </div>
        <div class="whitespace"></div>
    </div>

    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8" style="text-align: center;">
                    <table>
                        <tr>
                            <td><a class="links_footer" href="#">About us</a></td>
                            <td><a class="links_footer" href="#">Política de privacidad</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td>
                                <a href="#"><img src="/static/linkedin.PNG" alt="Linkedin" class="socialmedia"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/fb.PNG" alt="Facebook" class="socialmedia"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/ig.PNG" alt="Instagram" class="socialmedia"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/tw.PNG" alt="Twitter" class="socialmedia"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>