<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <main class="recuperacion1-main">
        <section class="rec2">
            <form action="/Recuperar" method="post">
                <h1 class="rec2-title">Recupera tu contraseña</h1>
                <hr class="rec2-bar">
                <div class="rec2-group">
                    <label for="rec2-form-password"> Correo </label>
                    <input class="rec2-group-input" type="email" id="rec2-form-password" name="correo" required>
                </div>
                <div class="rec2-group" >
                    <button type="submit" class="button">Enviar Correo de Validación</button>
                    <td><a class = "button" href="/">Cancelar</a></td>
                </div>
            </form>
        </section>

    </main>
    <div class="footer">
        <div class="container">
            <div class="row">
              <div class="col-sm-8" style="text-align: center;">
                  <table>
                      <tr>
                          <td><a class="links_footer" href="#">About us</a></td>
                          <td><a class="links_footer" href="#">Política de privacidad</a></td>
                      </tr>
                  </table>
              </div>
              <div class="col-sm-4">
                <table>
                    <tr>
                        <td><a href="#"><img src="/static/linkedin.PNG" alt="Linkedin" class="socialmedia"></a></td>
                        <td><a href="#"><img src="/static/fb.PNG" alt="Facebook" class="socialmedia"></a></td>
                        <td><a href="#"><img src="/static/ig.PNG" alt="Instagram" class="socialmedia"></a></td>
                        <td><a href="#"><img src="/static/tw.PNG" alt="Twitter" class="socialmedia"></a></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
      </div>
  
</body>
</html>
